<div class="container-fluid">
  <div class="row">
    <div class="col-md-3">
      <!-- Sidebar -->
      <p>
	Search: <input ng-model="$ctrl.query">
      </p>
      <p>
	Sort by:
	<select ng-model="$ctrl.orderProp">
	  <option value="name">Alphabetical</option>
	  <option value="age">Newest</option>
	</select>
      </p>
      <p>Reverse order: <input ng-model="$ctrl.reverse" type="checkbox"></p>
    </div>
    <div class="col-md-9">
      <!-- Main body -->
      <ul class="phones">
	<li ng-repeat="phone in $ctrl.phones 
		       | filter:$ctrl.query:false 
		       | orderBy:$ctrl.reverse ? '-' + $ctrl.orderProp : $ctrl.orderProp" 
	    class="thumbnail phone-list-item">
	  <a href="#!/phones/{{phone.id}}" class="thumb">
	    <img ng-src="{{phone.imageUrl}}" alt="{{phone.name}}">
	  </a>
	  <a href="#!/phones/{{phone.id}}">{{phone.name}}</a>
	  <p>{{phone.snippet}}</p>
	</li>
      </ul>
    </div>
  </div>
</div>
